<ul>
    {{#each this}}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{scene}}_{{zone}}#{{id}} : Max of <i>{{maxSize}} players</i></h5>
        </div>
    </div>
    {{/each}}
</ul>